.stopwatch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stopwatch-input-container {
  margin: 15px 0;
}

.styled-input {
  width: 220px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 4px;
}


.styled-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
}