.tabata-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.tabata-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.tabata-inputs div {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.tabata-inputs label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #333;
}

.tabata-inputs input {
  width: 70px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.tabata-inputs input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.round-display {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #2663be;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
