.display-round-container {
  border: 1px solid black;
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem; /* Makes the text slightly larger */
  background-color: #2663be; /* Light background color for a cleaner look */
  color: white;
  font-size: 1.3rem;
  padding: 4px 10px;
  border-radius: 8px; /* Rounded corners for the container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}


.display-round-uservalue {
  font-size: 0.9rem; /* Slightly smaller for the uservalue */
  color: #555; /* Neutral color for secondary text */
  margin-top: 5px;
}
